--linebreaks lf
--commas always
--comments indent
--indent 4
--allman true
--semicolons never
--wraparguments before-first
--wrapcollections before-first
--wrapconditions before-first
--wrapreturntype if-multiline
--wraptypealiases before-first
--self remove
--stripunusedargs always
--trimwhitespace always
--rules anyObjectProtocol
--rules blankLinesAtEndOfScope
--rules blankLinesBetweenScopes
--rules consecutiveSpaces
--rules duplicateImports
--rules enumNamespaces
--rules extensionAccessControl
--rules fileHeader
--rules genericExtensions
--rules hoistPatternLet
--rules indent
--rules isEmpty
--rules leadingDelimiters
--rules linebreakAtEndOfFile
--rules markTypes
--rules modifierOrder
--rules numberFormatting
--rules opaqueGenericParameters
--rules preferKeyPath
--rules redundantBreak
--rules redundantFileprivate
--rules redundantLet
--rules redundantLetError
--rules redundantNilInit
--rules redundantObjc
--rules redundantParens
--rules redundantPattern
--rules redundantReturn
--rules redundantSelf
--rules redundantType
--rules redundantVoidReturnType
--rules sortImports
--rules sortSwitchCases
--rules spaceAroundBraces
--rules spaceAroundBrackets
--rules spaceAroundComments
--rules spaceAroundGenerics
--rules spaceAroundOperators
--rules spaceAroundParens
--rules spaceInsideBraces
--rules spaceInsideBrackets
--rules spaceInsideGenerics
--rules spaceInsideParens
--rules todos
--rules trailingClosures
--rules trailingCommas
--rules trailingSpace
--rules typeSugar
--rules unusedArguments
--rules void
--rules wrapArguments
--rules wrapAttributes
--rules wrapEnumCases
--rules wrapMultilineStatementBraces
--rules wrapSwitchCases